{% extends 'base.html' %}
{% block title %}Dashboard | Eudaimonia{% endblock %}
{% block content %}
{% include 'partials/page_header.html' with title='Dashboard' subtitle='Placeholder overview page. Real user data and widgets will be added later.' %}
<div class="row g-4">
  <div class="col-md-6"><div class="card app-card"><div class="card-body">Progress summary module placeholder</div></div></div>
  <div class="col-md-6"><div class="card app-card"><div class="card-body">Upcoming tasks module placeholder</div></div></div>
</div>
{% endblock %}
